<div class="col-md-4">
    <div class="product-item">
        <a href="#"><img src="assets/images/product_01.jpg" alt=""></a>
        <div class="down-content">
            <a href="#"><h4>Tittle goes here</h4></a>
            <h6>$25.75</h6>
            <p>Lorem ipsume dolor sit amet, adipisicing elite. Itaque, corporis nulla aspernatur.</p>
            <ul class="stars">
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
                <li><i class="fa fa-star"></i></li>
            </ul>
            <span>Reviews (24)</span>
        </div>
    </div>
</div>