@model IEnumerable<KitapKesifleri.Controllers.bookDTO>

@{            ViewData["Title"] = "Index"; }
    <div class="container">
        @foreach(var item in Model)
            {
                <div class="row">
                    <img src="@item.BookCover" class="d-block w-100 h-100" />

                </div>
                <div class="row">
                    <div class="col-6">
                        Kitap  Bilgileri
                    </div>
                </div>
            }
    </div>
}